.categories {
    margin:0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #ccc;
    width: 200px;
    border-radius: 5px;

}

.categories-list {
    padding: unset;
}

.category-item {
    list-style-type: none;
}

.custom-category{
    font-weight: bold;
}